body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0%;
}

h1 {
    font-size: 50px;
}

.title_rashed {
    color: orange;
}

.container {
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    padding: 5px;
}

.half_width {
    width: 50%;
    padding-left: 28px;
}

.half_width img {
    width: 85%;
    padding-top: 5px;
}

.hire_me {
    text-decoration: none;
    font-size: 30px;
    padding: 10px 40px;
    color: whiite;
    background-image: linear-gradient(orange, tomato);
    border-radius: 8px;
}

.hire_me:hover {
    background-image: linear-gradient(tomato, hotpink);
    color: aqua;
    border-radius: 12px;
}