body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0%;
}

h1 {
    font-size: 40px;
}

.flexible_container {
    display: flex;
    margin-bottom: 80px;
}

.title_rashed {
    color: orange;
}

.container {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    padding: 5px;
}

.half_width {
    width: 50%;
    padding-left: 28px;
}

.half_width img {
    width: 85%;
    padding-top: 5px;
}

.hire_me {
    text-decoration: none;
    font-size: 30px;
    padding: 10px 40px;
    color: whiite;
    background-image: linear-gradient(orange, tomato);
    border-radius: 8px;
}

.hire_me:hover {
    background-image: linear-gradient(tomato, hotpink);
    color: aqua;
    border-radius: 12px;
}

.download_resume {
    color: cyan;
    background-image: linear-gradient(hotpink, orange);
    padding: 15px 40px;
    text-decoration: none;
    font-size: 35px;
    border-radius: 20px;
}

.download_resume:hover {
    background-image: linear-gradient(orange, hotpink);
    color: Aqua;
}

.dream_big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.exp_subHeading {
    color: #FF10F0;
    font-size: 25px;
}

.experience_area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experience_item {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    padding-left: 20px;
    box-shadow: 10px 10px 45px gainsboro;

    /* border */
    border-left: 2px solid skyblue;
    border-right: 2px solid coral;
    border-top: 2px solid #F4BB44;
    border-bottom: 2px solid #FF00FF;
}

.experience_item:hover {
    box-shadow: 10px 10px 45px #DA70D6;

    /* border */
    border: 2px dotted skyblue;
}

.experience_item p {
    text-align: justify;
    padding-right: 10px;
}

.footer_items {
    color: #FF00FF;
    font-size: 25px;
    text-align: center;
}